/* main content css */

.welcome-msg{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ededed;
    text-align: center;
}
.widget{
    background-color: #fff;
    text-align: center;
    border: 1px solid #ededed;
    font-size: 14px;
    transition: all .3s;
}
.widget:hover {
    box-shadow: 3px 10px 15px #999;
    border-color: #888;
}
.w-title {
    padding: 15px 10px;
    display: block;
}
.w-bottom {
}
.w-bottom a {
    border-top: 1px solid #f1f1f1;
    display: block;
    padding: 15px 10px;
    color: #333;
    transition:  .4s;
}
.w-bottom a:hover {
    background-color: #f44336;
    color: #fff;
}
.w-icon {
    padding: 10px;
}
.w-icon span i {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 24px !important;
    text-align: center;
    border: 2px solid #666;
    border-radius: 50%;
    margin-right: 0;
}
.w-icon .w-num {
    padding-top: 25px;
    font-size: 18px;
    margin-bottom: 5px;
}
.w-icon .w-text {
    padding-bottom: 10px;
    color: #555;
}